.artists-main{
    width: 100%;
    padding: 200px 100px 150px;
    box-sizing: border-box;
}
.artists-main .artists-wrap{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.artists-main .artists-wrap .artist-txt{
    display: flex;
    gap: 40px;
}
.artists-main .artists-wrap .artist-txt h1{
    font-size: 120px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 80px;
}
.artists-main .artists-wrap .artist-txt .job{
    display: flex;
    align-items: center;
    gap: 40px;
}
.artists-main .artists-wrap .artist-txt .job li{
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    position: relative;
}

.artists-main .artists-wrap .artist-txt .job li.active{
    color: #f8cc00;
    font-weight: 400;
}
.artists-main .artists-wrap .artist-txt .job li:first-child::after{
    content: "";
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    right: -21px;
    background-color: #333;
    width: 2px;
    height: 16px;
}
.artists-main .artists-wrap .artist-txt .job li:nth-child(2):after{
    content: "";
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    right: -21px;
    background-color: #333;
    width: 2px;
    height: 16px;
}

.artists-main .artists-wrap .artists-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px 20px;
}

